body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    overflow-x: hidden;
}
#main {
    border: 3px solid;
    border-radius: 18px;
    min-width: 50vw;
    min-height: 70vh;
    max-height: 75vh;
    padding: 20px 80px;
}
.container p {
    font-size: 30px;
}
.input-container {
    display: flex;
    align-items: center;
    border: 2.5px solid;
    border-radius: 10px;
    overflow: hidden;
}
input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 17px;
}
button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
.fa-arrow-turn-down {
    font-size: 20px;
}
#addTaskBtn {
    transform: rotate(90deg);
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid #ddd;
    margin-top: 5px;
    font-size: 20px;
}
input[type="checkbox"] {
    appearance: none;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: 2.5px solid black;
    border-radius: 7px;
    padding: 12px;
    cursor: pointer !important;
}
input[type="checkbox"]:checked {
    background-color: gray; 
}
.delete-btn {
    font-size: 22px;
    color: #333;
    background-color: white;
}
.task-text {
    flex-grow: 1; 
    text-align: left; 
    padding-left: 10px;
}
#taskList {
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto;
}